h2 {
  text-decoration: underline;
}

body div p {
  color: blue;
}

a {
  color: orange;
}

p span {
  text-decoration: underline;
  background-color: yellow;
  color: black;
}

li span {
  font-weight: bold;
  color: black;
}

ul li a {
  color: red;
}

ul ul li {
  color: blue;
}

ul li div a {
  color: red;
  font-weight: bold;
}

ul li ul li ul {
  list-style: none;
}

span a-bold {
  font-weight: bold;
}
